.card{
  padding: 20px 40px;
}
.iconWarp{
  height: 40px;
  margin: 20px 0;
  line-height: 40px;
  cursor: pointer;
}
.iconStyles{
  margin-right: 10px;
  vertical-align: middle;
}
.iconText{
  vertical-align: sub;
  font-size: 18px;
}